.container {
    position: relative;
    height: 100vh;
}

body {
    margin: 0;
}

header {
    background-color: var(--blanc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

#logo img {
    height: 38px;
}

.icon_header img {
    height: 29px;
}

#content_container{ 
    height: 100vh; 
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

#compteur {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
}

#compteur p {
    font-family: 'Josefin Sans';
    color: var(--gris);
}

#content {
    padding: 10px 20px 40px;
    border-radius: 30px 30px 0 0;
    text-align: center;
    background-color: var(--blanc);
}

#titre {
    text-align: center;
}

#espace_doigt {
    display: flex;
    justify-content: center;
}

.textes {
    font-family: 'Josefin Sans';
    margin: 37px 0;
    color: var(--noir);
}

h1 {
    font-family: 'Antonio';
    color: var(--rose);
    font-size: 32px;
}

h2 {
    font-family: 'Josefin Sans';
    font-size: 18px;
    font-weight: 500;
    margin: 23px 0;
    color: var(--violet);
}

h3 {
    font-family: 'Josefin Sans';
    font-size: 18px;
    font-weight: 500;
    margin: 37px 0;
    color: var(--violet);
}

p {
    margin: 0;
}

.photos {
    margin-bottom: 37px;
}

.photos img {
    border-radius: 30px;
}

#motion img {
    width: 80vw;
    border-radius: 30px;
    margin: 37px 0;
    /* border: solid 2px var(--rose); */
}

#espace_chouette {
    position: relative;
    z-index: 10;
    display: inline-flex;
    gap: 15px;
    align-items: center;
    margin: 37px 0;
}

#bulle {
    position: absolute;
    bottom: 120px; /* ajuste selon ton image */
    left: 20px;
    background-color: var(--violet_pale);
    color: var(--noir);
    border-radius: 12px;
    padding: 10px 14px;
    width: 220px;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: none;
  }

#bulle::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 30px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid var(--violet_pale);
}

#chouette {
    position: relative;
}

#chouette img {
    width: 100px;
}

.flou.blur {
    filter: blur(4px);
    transition: filter 0.3s ease;
}

#btnchouette {
    font-family: 'Antonio';
    font-weight: bold;
    font-size: 18px;
    color: var(--blanc);
    background-color: var(--violet);
    border: none;
    width: 200px;
    height: 60px;
    padding: 10px;
    border-radius: 17px;
}

#next_poi {
    font-family: 'Antonio';
    font-size: 18px;
    font-weight: bold;
    color: var(--violet);
    padding: 0 40px;
}
